<div class="container">

    <div class="row" *ngFor="let item of [].constructor(numeroTarjetas); let i = index">
        <div class="col-1 num">{{ i }}</div>
        <div class="col-3"><img [src]="arrayPadre[i].image_url"></div>
        <div class="col-6">
            <div class="col">
                <div class="row"><a class="tit" href="">{{ arrayPadre[i].title}}</a></div>
                <div class=" row txt">{{arrayPadre[i].type}} , {{arrayPadre[i].episodes}} eps, scored: {{arrayPadre[i].score}}</div>
                <div class=" row txt">{{arrayPadre[i].members}} members</div>
            </div>
        </div>
        <h3 class="col-1"><a href="">add</a></h3>
    </div>
</div>