<div class="d-flex justify-content-center align-items-start" *ngFor="let item of [].constructor(numeroTarjetas); let i = index">
    <h3 class="p-2 bd-highlight num">{{ i }}</h3>
    <h3 class="p-2 bd-highlight"><img [src]="arrayPadre[i].image_url"></h3>
    <h3 class="p-2 bd-highlight">
        <div class="d-flex flex-column align-items-start">
            <div class=" bd-highlight"><a href="">{{ arrayPadre[i].title}}</a></div>
            <div class=" bd-highlight txt">{{arrayPadre[i].type}} , {{arrayPadre[i].episodes}} eps, scored: {{arrayPadre[i].score}}</div>
            <div class=" bd-highlight txt">{{arrayPadre[i].members}} members</div>
        </div>
    </h3>
    <h3 class=" bd-highlight"><a href="">add</a></h3>
  </div>