a{
    text-decoration: none;
    font-size: 12px;
}
.num{
    font-size: 16px;
    color: #7f7f7f;
}
img{
    width: 50px;
    height: 70px;
}
.txt1{
    font-size: 12px;
    color: #7f7f7f;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
}
.txt2{
    font-size: 12px;
    color: #7f7f7f;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}
.tit{
    color: #1d439b;
    font-weight: bold;
    padding: 0px;
    line-height: 1.0em;
}
.card{
    padding: 10px;
}
.cardRow{
    background-color: rgb(245, 245, 245);
    padding-bottom: 12px;
    padding-top: 12px;
}
.imgCol{
    padding:0px;    
    text-align: center;
}
.container{
    /* background-color: rgb(245, 245, 245); */
}