<div class="d-flex bd-highlight ">
    <div class="me-auto p-2 bd-highlight logo"> 
        <img class="logo" src="../assets/mal-logo-xsmall.png">
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-danger">Hide Ads</button>
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-outline-primary">Login</button>
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-primary">Sign Up</button>
    </div>
  </div>
  
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">Anime</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">Manga</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">Community</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">industry</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">Watch</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">Read</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn">Help</div>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </li>
            </ul>
        </div>
    </div>
</nav>