.navbar-brand {
    font-size: 30px;
    color: white;
}

.nav-link {
    font-size: 20px;
    color: white;
}

nav.navbar {
    background-color: #2e51a2;

}
.logo{
    height: 36px;
}
.logo-col{
    padding: 10px;
}