<div class="d-flex bd-highlight ">
    <div class="me-auto p-2 bd-highlight logo"> 
        <img class="logo" src="../assets/mal-logo-xsmall.png">
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-danger">Hide Ads</button>
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-outline-primary">Login</button>
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-primary">Sign Up</button>
    </div>
  </div>
  
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Manga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Industry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Watch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Read</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="home">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>