.navbar{
  padding: 0px;
  background-color: #2e51a2;
  text-align: center;
}
.nav-item{
  margin: 0px;
  color: white;
}
.input{
  height: 25px;
  margin-top: 0px;
}
.btn-inp{
  height: 25px;
  margin-top: 0px;
}
nav .navbar-nav a{
  color: white;
  }
nav .dropdown-item a{
color: black;
}