/* You can add global styles to this file, and also import other style files */

body {
    background-color: #1C2833;
    color: white;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.navbar {
    background-color: #1B2631;
}